<div class="container">
    <br>
    <h2> Daily Planner </h2>

    <div id="element">
        <ul>
            <li class="list-group-item d-flex justify-content-between" *ngFor="let c of tabTasks">
                <div class="checkitem">
                    <input id="check" type="checkbox" [checked]="c.status" (change)="changeStatutAPI(c)" />
                    <label>{{ c.nom}} </label>
                </div>

                <!-- <div *ngIf="!c.status">{{ c.nom }}</div>
                    <div *ngIf="c.status" style="text-decoration: line-through;">{{ c.nom }}</div> -->
                <br> <i class="fw-bold"> {{c.datee | date:'shortTime'}} </i>
                <span *ngIf="c.status"> DONE</span>
                <span *ngIf="!c.status"> TODO</span>
                <!--<br> <i class="fw-bold" > {{c.status}} </i>-->

                <!--<button (click)="deleteTask(c)"> Delete </button> </li>-->

        </ul>
    </div>
    <br>
    <div id="buttons">
        <div *ngIf="!isShow">
            <input #ref type="text">
            <button (click)="addNewTaskAPI(ref.value)" class="btn"> Ajouter</button>
        </div>


        <button id="b" *ngIf="isShow" (click)="show()" class="btn"> Add a new task</button>

        <button *ngIf="!isShow" (click)="show()" class="btn">Annuler</button>

        <button id="b1" class="btn" routerLink="done-task"> Show task History</button>
    </div>
</div>