<div class="container">
    <h4> Aujourd'hui </h4>
    <div class="row">
        <div class="col-6">
            <ul>
                <li *ngFor="let c of tabTasks">
                    <input id="check" type="checkbox" [checked]="c.status" (change)="changeStatut(c)" />
                    <label>{{ c.nom}} </label>
                    <!-- <div *ngIf="!c.status">{{ c.nom }}</div>
                    <div *ngIf="c.status" style="text-decoration: line-through;">{{ c.nom }}</div> -->
                    <br> <i> {{c.datee | date:'shortTime'}} </i>
                    <br> <i> {{c.status}} </i>
                    <button (click)="deleteTask(c)"> Delete </button> </li>

            </ul>
        </div>
        <div class="col-6">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div *ngIf="!isShow">
        <input #ref type="text">
        <button (click)="addNewTask(ref.value)" class="btn btn-info"> Ajouter</button>
    </div>

    <br>
    <button *ngIf="isShow" (click)="show()" class="btn btn-info"> Add a new task</button>
    <br>
    <button *ngIf="!isShow" (click)="show()" class="btn btn-danger">Annuler</button>
    <button class="btn btn-info" routerLink="done-task"> Show task History</button>
</div>