<div id="imgclass" class="container">
    <header>
        <br>
        <h2> To Do List </h2>
        <div id="imgdiv">
            <img src="https://images.pexels.com/photos/243221/pexels-photo-243221.jpeg?cs=srgb&dl=pexels-miesha-maiden-243221.jpg&fm=jpg" alt="not found">
        </div>
    </header>

    <br>

    <footer>

        <hr>
        <div id="divbut">
            <br>
            <button class="btn" [routerLink]="['login']" type="submit"> Log In To begin your journey </button>
            <br>
            <button class="btn" [routerLink]="['register']" type="submit"> New? Register Now !</button>
        </div>
        <hr>
    </footer>

</div>