<div id="imgclass" class="container">
    <header>
        <br>
        <h2> To Do List </h2>

    </header>

    <br>

    <footer>
        <br>
        <br>
        <br>
        <br>
        <hr>
        <div id="divbut">
            <br>
            <button class="btn" [routerLink]="['login']" type="submit"> Log In To begin your journey </button>
            <br>
            <button class="btn" [routerLink]="['register']" type="submit"> New? Register Now !</button>
        </div>
        <hr>
    </footer>

</div>