#imgdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgclass {
    background-color: white;
    width: 60%;
    height: 80%;
    justify-self: center;
}

h2 {
    font-size: 50px;
    padding: 40px;
    text-align: center;
    font-family: "Papyrus";
    font-weight: bolder;
    color: #D45769;
}

button {
    background-color: #D45769;
    color: white;
}

#divbut {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 400px;
    height: 400px;
}

button:hover {
    background-color: white;
    color: black;
    border-color: black;
}